API_BIND=0.0.0.0:9999
STATE_FILE=/opt/animus-link/.animus-link/state/bootstrap.json
RELAY_ADDR=127.0.0.1:7777
RELAY_NAME=default-relay
RELAY_TOKEN_SIGNING_SEED_HEX=9d61b19deffd5a60ba844af492ec2cc44449c5697b326919703bac031cae7f60
